# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3
media/

# Virtual env
.venv/
venv/
env/

# Environment
.env
.env.local
.env.production

# Static collected
staticfiles/

# OS
.DS_Store
Thumbs.db
